html, body {
    margin:0;
    background-image:url('./public/background_01.jpg');
    background-size:cover;
    font-family: 'Roboto', sans-serif;
}


.App{
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 800px;
    padding:10px;
    font-size: 1.3em;
    height:100vh;
    margin:0;

}

.main_wrapper{
    width:1100px;
    min-height:800px;
    display: flex;
    justify-content:center;
    background-color:white;
    box-shadow: 0 0 20px #cddfeb;
    border-radius:20px;
}

h1{
    width:25%;
    height:70%;
    padding:20px;
    font-size:5vw;
    color:#265395;
    margin-right:20px;
    font-family: 'Francois One', sans-ser;
}

.form_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    padding:20px;

}

.form_wrapper_hidden{
    display:none;
}

.description{
    width:50%;
}

span{
    display:flex;
    flex-direction: row;
    align-items:center;
}

.input_fields{
    display: flex;
    justify-content: space-between;
    padding:5px 10px;
}

.input_fields_bold{
    color:#265395;
    font-weight:bold;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding:5px 10px;
    font-style:italic;
}

input{
    width:200px;
    height: 30px;
    margin:0 10px;
    padding:0 5px;
    border-radius: 5px;
    border:1px solid #e9e6e6;
    font-size:1.1em;
}

input:focus {
    outline:none;
}

.span_readonly{
    color:orange;
    font-weight:500;
    font-size:1.1em;
}

.input_fields_readonly{
    border:0;
    text-align: right;
    display: flex;
    flex-direction: row;
    padding:0 5px;
    font-size:1.1em;
    font-weight:500;
    color:orange;
    background-color:white;
}

.buttons_wrapper{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    min-height:100px;
    padding:0;
    margin-top:20px;

    p{
        margin:10px;
        font-size:.8em;
    }

    button{
    width:200px;
    height:50px;
    margin: 0;
    border-radius:10px;
    border:0;
    background-color:orange;
    color:white;
    font-size:1.2em;
    }

}

.chart_wrapper{
    display:flex;
    flex-direction:column;
    width:100%;
}

.chart_wrapper_hidden{
    display:none;
}


.chart_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chart_details{
    width:30%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.edit{
    width:200px;
    height:50px;
    margin: 50px auto;
    border-radius:10px;
    border:0;
    background-color:orange;
    color:white;
    font-size:1.2em;
}

.errorMsg{
    color:red;
    font-size:.8em;
    margin-right:10px;
    font-style:italic;
}